<div class="window-top"  title="{{windowTitle}}" data-id='{{id}}'>
    <span class="float_left">
        <span class="window-icon-contain">
            <div class="window-icon {{icon}}" > </div>
        </span>
        <span class="window-title">{{windowTitle}}</span>
    </span>
    <span class="float_right">
        <div class="window-min" title='minimize'><span class="min"></span></div>
        <div class="window-resize" title='resize'><span class="res"></span></div>
        <div id="{{id}}" class="window-close" title='close'><span class="close"></span></div>
    </span>
</div>