<a class="abs desktop-icon-contain" style="left:{{iconPos.left}}px;top:{{iconPos.top}}px;" icon-type="{{iconName}}">
    <div class="desktop-icon {{iconName}}" > </div>
    <span>{{iconName}}</span>
</a>