<div class="taskbar-icon-contain {{hidden}}" data-parent-window="{{id}}" title="{{windowTitle}}" data-icon-only="{{iconOnly}}">


    <div class="taskbar-icon {{icon}}" title="{{windowTitle}}"> </div>

    {{#if children}}
    <div class="icon-grouping" >
        {{#each children}}
        <div class="taskbar-icon-child" data-parent-window="{{id}}" title="{{windowTitle}}">
		    <div class="taskbar-icon {{icon}}" title="{{windowTitle}}"> </div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>